$h1-color: #eee
$h2-color: #ccc
$primary-color: #aaa
$gunderson-gray: #333332
$a-color: #99aacc

body 
  background-color: $gunderson-gray
  margin: 0
  padding: 20px
  font-family: Arial, sans-serif

#header
  background-color: #000

h1 
  color: $h1-color

h2 
  color: $h2-color

p, ul, li 
  color: $primary-color
