$h1-color: rgba(255,255,255,0.75)
$h2-color: rgba(255,255,255,0.75)
$primary-color: rgba(255,255,255,0.6)
$highlight-color: rgba(255,255,255,1)
$gunderson-gray: #222221
$a-color: #99aacc

@import font-awesome
@import font-face-mixin

@include font-face(Tajawal, /fonts/Tajawal-Light, 300, normal, ttf)
@include font-face(Tajawal, /fonts/Tajawal-Regular, 400, normal, ttf)
@include font-face(Tajawal, /fonts/Tajawal-Medium, 500, normal, ttf)
@include font-face(Tajawal, /fonts/Tajawal-Bold, 600, normal, ttf)


html
  min-height: 100vh
  font-size: 1px

body 
  background-color: $gunderson-gray
  margin: 0
  padding: 0
  font-family: Tajawal
  position: relative
  min-height: 100vh
  color: $primary-color
  font-size: 16rem

  &>.hero
    width: 100vw
    height: 75vh
    max-height: 1024rem
    position: relative
    .bg, .bg-transition
      position: absolute
      background-image: url("/images/hero/composition-72.jpg")
      background-repeat: none
      background-size: cover
      background-position: center
      width: 100%
      height: 100%
      top: 0
    .bg-transition
      opacity: 0
    
    .pull-quote
      font-weight: 300
      font-size: 50rem
      margin: 20rem
      color: #fff
      position: relative
      top: 35%
      left: 50%
      line-height: 70%
      filter: drop-shadow(0 0 5rem rgba(0,0,0,0.3))

    .shadow
      position: absolute
      width: 100%
      bottom: 0
      height: 30rem
      background: linear-gradient(0deg, rgba(0,0,0,.5) 0%, rgba(0,0,0,0) 100%)

  

#header
  // background-color: #222
  padding: 20rem
  position: relative
  font-family: Tajawal
  a, a:visited, a:active
    color: $h1-color
  a:hover
    color: $highlight-color

  h1
    font-size: 30rem
    font-weight: 400
    margin: 0
  ul
    position: absolute
    right: 0
    top: 0
    padding: 10rem

  li
    display: inline-block
    padding: 0 10rem
  

.media
  text-align: center
  position: relative
  left: 0
  right: 0
  margin: 0rem

  .hero
    position: relative
    max-width: 100vw
    img
      background-image: none
      max-width: 1024rem
    img.transition
      position: absolute
      margin: auto

    .gallery
      display: flex
      flex-direction: row
      flex-wrap: nowrap
      justify-content: center
      align-content: stretch
      align-items: center
      position: absolute
      margin: auto
      left: 0
      right: 0
      bottom: 0
      width: 1024rem
      background: linear-gradient(0deg, rgba(0,0,0,.5) 0%, rgba(0,0,0,0) 100%)

      .thumbnail
        flex: 0 1 auto
        align-self: auto
        width: 128rem
        margin: 20rem
        border: 2rem black solid

  .meta
    // width: 1024rem
    max-width: 1024rem
    text-align: left
    margin: auto
    margin-top: 40rem
    position: relative

  .hero
    width: 100%
    video
      max-width: 1024rem
    .youtube
      width: 100%
      height: 60vh

  .title
    font-weight: 500
    color: $h1-color
    font-size: 18rem
    .permanent-link, .external-link
      margin-left: 8rem

  .date
    font-weight: 400
    font-size: 16rem
    margin: 8rem

  .medium
    margin-bottom: 10rem

  .description

  .awards
  
h1 
  color: $h1-color
  font-weight: 400

h2 
  color: $h2-color
   font-weight: 400

p, ul, li 
  color: $primary-color

a, a:hover, a:active, a:visited
  transition: color .2s ease-in-out;
  text-decoration: none
a
  color: #7799cc
a:hover, a:active:hover, a:visited:hover
  color: #fff
a:active
  color: #9977cc
a:visited
  color: #9977cc
  

#footer
  color: $primary-color
  background-color: $gunderson-gray
  position: absolute
  bottom: 0
  width: 100vw
  padding: 20rem
  box-sizing: border-box