title PJG - Patrick Gunderson
meta(name="viewport",content="width=device-width, initial-scale=1, minimum-scale=1")
link(rel="icon", type="image/x-png", href="/images/favicon2.png")
link(rel="stylesheet", href="/css/style.css")

meta(property="og:title" content="Patrick Gunderson's Portfolio")
meta(property="og:type" content="website")
meta(property="og:url" content="https://patrickgunderson.com/")
meta(property="og:image" content="https://patrickgunderson.com/images/composition-72/main.jpg")

meta(name="twitter:title" content="Patrick Gunderson's Portfolio")
meta(name="twitter:description" content="A retrospective of a digital creative craftsman.")
meta(name="twitter:image" content=" https://patrickgunderson.com/images/composition-72/main.jpg")
meta(name="twitter:card" content="summary_large_image")



script 
    include ../js/touchy.js

script(async src="https://www.googletagmanager.com/gtag/js?id=G-8CG3BB0G5L")
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-8CG3BB0G5L');
</script>