#header 
      h1 
        a(href="/") PJG
      ul.links
        li 
            a.fa.fa-twitter(alt="Twitter" href="http://twitter.com/gunderson" target="_blank")
        li 
            a.fa.fa-instagram(alt="Instagram" href="http://instagram.com/cresquin" target="_blank") 
        li 
            a.fa.fa-github(alt="Github" href="http://github.com/gunderson" target="_blank") 
        li 
            a.fa.fa-codepen(alt="Codepen" href="http://codepen.io/gunderson" target="_blank")