#header
	a(href="/") 
		h1 PATRICK GUNDERSON
		h2 Digital Creative Craftsman
	ul.links
		li 
			a.fa.fa-twitter(title="Twitter" href="http://twitter.com/gunderson" target="_blank")
		li 
			a.fa.fa-instagram(title="Instagram" href="http://instagram.com/cresquin" target="_blank") 
		li 
			a.fa.fa-github(title="Github" href="http://github.com/gunderson" target="_blank") 
		li 
			a.fa.fa-codepen(title="Codepen" href="http://codepen.io/gunderson" target="_blank")
		li 
			a.fa.fa-stack-overflow(title="Stack Overflow" href="https://stackoverflow.com/users/956208/patrick-gunderson" target="_blank")
		li 
			a.fa.fa-soundcloud(title="Soundcloud" href="https://soundcloud.com/cresquin" target="_blank")
		li 
			a.fa.fa-linkedin(title="LinkedIn" href="https://www.linkedin.com/in/patrickgunderson/" target="_blank")

		