doctype html
html
  include _head
  body  
    .hero
      include _header
      .shadow

    h2 Cool shit
    section.art
      a#art(name="art")
      h3 Art
      ul 
        li 
          a(href="/loops") Loops 
        li Web 
        li Installations 
        li Prints 
        li VR 
        
    section.music
      a#music(name="music")
      h3 Music
      ul 
        li Albums 
        li Soundcloud 
        li Experimental
    section.commercial
      a#commercial(name="commercial")
      h3 Commercial 
      ul 
        li Google AR I/O
        li Google AR UX
        li US Open Sessions
        li Sense8 Brainwave Symphony
        li Project Hardin
        li Land Rover Stories
        li 30 Years of Mac
        li JFK
        li Gensler
        li Passion Genome
        li The Beauty Inside
        li Infiniti Dream Road
        li SuperBowl.com

    section.clients
      a#clients(name="clients")
      h2 Clients
      ul 
        li Adidas
        li Apple
        li Google
        li IBM
        li Infiniti
        li Instagram
        li Intel
        li JFK Library
        li Netflix
        li NFL
        li Nissan
        li Twitter
        li YouTube
    
    section.clients
      a#recognition(name="recognition")
      h2 Recognition 
      ul 
        li 1x Daytime Emmy
        li 7x Cannes Lions
        li 4x D&AD
        li 15x FWA
        li 3x ACE
        li 1x Webby
        li 4x One Show
        li 1x Mashy
        li 1x SXSW Interactive
        li 3x Comm Arts Interactive
        li 4x Clios
        li 3x Creativity A-list
    
    include _footer
