doctype html
html
  head
    title Patrick Gunderson
    link(rel="stylesheet", href="css/style.css")
  body
    div#header 
      h1 Patrick Gunderson
      ul
        li Twitter 
        li Instagram 
        li Github 
        li Codepen
    
    h2 Cool shit

    ul 
      li 
        h3 Art
        ul 
          li loops 
          li Web 
          li Installations 
          li Prints 
          li VR 
      li 
        h3 Music
        ul 
          li Albums 
          li Soundcloud 
          li Experimental
      li 
        h3 Commercial 
        ul 
          li Google AR I/O
          li Google AR UX
          li US Open Sessions
          li Sense8 Brainwave Symphony
          li Project Hardin
          li Land Rover Stories
          li 30 Years of Mac
          li JFK
          li Gensler
          li Passion Genome
          li The Beauty Inside
          li Infiniti Dream Road
          li Super Bowl.com

    h2 Clients 
    ul 
      li Adidas
      li Apple
      li Google
      li IBM
      li Infiniti
      li Instagram
      li Intel
      li JFK Library
      li Netflix
      li NFL
      li Nissan
      li Twitter
      li YouTube
    
    h2 Recognition 
    ul 
      li 1x Daytime Emmy
      li 7x Cannes Lions
      li 4x D&AD
      li 15x FWA
      li 3x ACE
      li 1x Webby
      li 4x One Show
      li 1x Mashy
      li 1x SXSW Interactive
      li 3x Comm Arts Interactive
      li 4x Clios
      li 3x Creativity A-list
    
    div#footer
      div Gunderson Gray is the color #333332 
      div Version: #{version}
