.album-page {
  text-align: left; }
  .album-page .media {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: normal;
    align-content: normal;
    max-width: 1024rem;
    left: 0;
    right: 0; }
    @media (min-width: 481px) and (max-width: 960px) {
      .album-page .media {
        display: block;
        margin: auto; } }
    .album-page .media .meta {
      padding: 0; }
    .album-page .media .hero {
      width: 50%;
      height: auto; }
      @media (min-width: 481px) and (max-width: 960px) {
        .album-page .media .hero {
          width: auto;
          max-width: 800rem;
          position: relative;
          margin: auto; } }
    .album-page .media img {
      width: 100%; }
    .album-page .media audio {
      filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(80%);
      width: 80%;
      height: 25px;
      position: relative;
      margin: auto;
      left: 10%;
      right: 0; }
  .album-page .tracks {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    width: 50%;
    top: 0;
    right: 0;
    margin-left: 80rem; }
    @media (min-width: 481px) and (max-width: 960px) {
      .album-page .tracks {
        display: block;
        margin: auto;
        width: 70%; } }
    .album-page .tracks ol {
      margin: 0 20rem;
      padding: 0; }
      .album-page .tracks ol li {
        cursor: pointer;
        padding: 5rem 0; }
        .album-page .tracks ol li.playing {
          color: #f00;
          opacity: 1; }
        .album-page .tracks ol li:hover {
          color: #fff;
          opacity: 1; }
