.album-page {
  text-align: left; }
  .album-page .media {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: normal;
    align-content: normal;
    max-width: 1024rem;
    left: 0;
    right: 0; }
    @media screen and (min-width: 481px) and (max-width: 960px) {
      .album-page .media {
        display: block;
        margin: auto; } }
    .album-page .media .meta {
      padding: 0; }
    .album-page .media .hero {
      width: 50%;
      height: auto; }
      @media screen and (min-width: 481px) and (max-width: 960px) {
        .album-page .media .hero {
          width: auto;
          max-width: 800rem;
          position: relative;
          margin: auto; } }
    .album-page .media img {
      width: 100%; }
  .album-page .tracks {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    width: 50%;
    top: 0;
    right: 0;
    margin-left: 80rem; }
    .album-page .tracks audio {
      filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(80%);
      width: 400px;
      height: 25px; }
    @media screen and (min-width: 481px) and (max-width: 960px) {
      .album-page .tracks {
        display: block;
        margin: auto;
        width: 70%; }
        .album-page .tracks audio {
          width: 100%; } }
